<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
	<conversionRule conversionWord="highlightex" converterClass="me.adamix.mercury.logback.HighlightingCompositeConverterEx"/>

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %boldCyan(%-1.-10thread) %boldGreen(%-25.-25logger{0}) %highlightex(%-6level) %highlightex(%msg%n)</pattern>
		</layout>

	</appender>

	<root level="info">
		<appender-ref ref="Console" />
	</root>

	<logger name="me.adamix" level="trace" additivity="false">
		<appender-ref ref="Console"/>
	</logger>
</configuration>